.footer{
    background-color: rgb(106, 103, 103);
    text-align: center;
    color: #CCE5FF;
    padding: 14px;
    box-shadow: inset 0 0 5px 2px #282a2d;

}

.footer-logo{
    width: 60px;
    height: 60px;
    margin-bottom: 1em;
}

.footer-heading, 
.footer-head,
.rights,
.footer-adress
{
    margin-bottom: 1em;
    text-shadow: 1.4px 1.4px black;
}

.go-up a{
    padding-bottom: 10px;
    color: #CCE5FF ;
    text-decoration: none;
    text-shadow: 1.4px 1.4px black;
}
