.main-parking{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4em;
}
.parking-img {
    margin: 0 auto;
    position: relative;
    display: flex;
    position: relative;
    text-align: start;
    color: white;
    flex-direction: column;
    align-items: center;
}

.top-left {
    position: absolute;
    top: 100px;
}

.bottom-left {
    position: absolute;
    bottom: -11em;
    left: 19.2em;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px black;
}
.parking-img img{
    width: 800px;
    height: 400px;
    box-shadow: 2px black;
}

.parking-info {
    margin: 0 auto;
    margin-top: 1em;
}

.parking-info p {
    text-align: center;
    margin: 1em;
    font-size: 18px;
}